<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title class="header-title">
      Champion Langkat Cup
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Home atas -->
<ion-toolbar color="warning">
  <ion-buttons slot="secondary">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button>
      <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Home</ion-title>
</ion-toolbar>

<ion-content>
  <!-- Features Section -->
  <div class="features">
    <h2>Pilih</h2>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <img src="assets/BGR.jpeg" alt="Ajukkan PENDAFTARAN" />
            <ion-card-header>
              <ion-button href="/tabs/tab2" fill="solid">Daftar Tim</ion-button>
            </ion-card-header>
            <ion-card-content>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <img src="assets/dc.jpeg" alt="Riwayat PENDAFTARAN" />
            <ion-card-header>
              <ion-button href="/tabs/tab4" fill="solid">Riwayat Pendaftaran</ion-button>
            </ion-card-header>
            <ion-card-content>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <img src="assets/dc.jpeg" alt="Pelayanan Prima" />
            <ion-card-header>
              <ion-button href="/tabs/tab3" fill="solid">Peraturan</ion-button>
            </ion-card-header>
            <ion-card-content>
              Proses cepat dan mudah.
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <img src="assets/hm.jpeg" alt="Notifikasi Cepat" />
            <ion-card-header>
              <ion-button href="bagan.html" fill="solid">KELASMEN</ion-button>
            </ion-card-header>
            <ion-card-content>
              Sementara
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>


<!-- Footer Section -->
<div class="footer">
  <ion-toolbar color="success">
    <div>
      <p>© 2024 Kabupaten Langkat - Wanda Syahputra</p>
      <p>Email: swanda385gmail.com</p>
      <p>Kontak: 0831 8100 5400</p>
    </div>
  </ion-toolbar>
</div>



